

:root {
    --dt-row-selected: 13, 110, 253;
    --dt-row-selected-text: 255, 255, 255;
    --dt-row-selected-link: 9, 10, 11;
    --dt-row-stripe: 0, 0, 0;
    --dt-row-hover: 0, 0, 0;
    --dt-column-ordering: 0, 0, 0;
    --dt-html-background: white
}




div.dt-scroll {
    width: 100%
}



div.dt-scroll-body thead tr th div.dt-scroll-sizing,
div.dt-scroll-body thead tr td div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr th div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr td div.dt-scroll-sizing {
    height: 0 !important;
    overflow: hidden !important
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
    position: absolute;
    display: block;
    bottom: 50%;
    content: "▲";
    content: "▲" /""
}

table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    position: absolute;
    display: block;
    top: 50%;
    content: "▼";
    content: "▼" /""
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order {
    position: relative;
    width: 12px;
    height: 20px
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    left: 0;
    opacity: .125;
    line-height: 9px;
    font-size: .8em
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc {
    cursor: pointer
}

table.dataTable thead>tr>th.dt-orderable-asc:hover,
table.dataTable thead>tr>th.dt-orderable-desc:hover,
table.dataTable thead>tr>td.dt-orderable-asc:hover,
table.dataTable thead>tr>td.dt-orderable-desc:hover {
    outline: 2px solid rgba(0, 0, 0, 0.05);
    outline-offset: -2px
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    opacity: .6
}

table.dataTable thead>tr>th.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead>tr>td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>td.sorting_asc_disabled span.dt-column-order:before {
    display: none
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

table.dataTable thead>tr>th div.dt-column-header,
table.dataTable thead>tr>th div.dt-column-footer,
table.dataTable thead>tr>td div.dt-column-header,
table.dataTable thead>tr>td div.dt-column-footer,
table.dataTable tfoot>tr>th div.dt-column-header,
table.dataTable tfoot>tr>th div.dt-column-footer,
table.dataTable tfoot>tr>td div.dt-column-header,
table.dataTable tfoot>tr>td div.dt-column-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px
}

table.dataTable thead>tr>th div.dt-column-header span.dt-column-title,
table.dataTable thead>tr>th div.dt-column-footer span.dt-column-title,
table.dataTable thead>tr>td div.dt-column-header span.dt-column-title,
table.dataTable thead>tr>td div.dt-column-footer span.dt-column-title,
table.dataTable tfoot>tr>th div.dt-column-header span.dt-column-title,
table.dataTable tfoot>tr>th div.dt-column-footer span.dt-column-title,
table.dataTable tfoot>tr>td div.dt-column-header span.dt-column-title,
table.dataTable tfoot>tr>td div.dt-column-footer span.dt-column-title {
    flex-grow: 1
}

table.dataTable thead>tr>th div.dt-column-header span.dt-column-title:empty,
table.dataTable thead>tr>th div.dt-column-footer span.dt-column-title:empty,
table.dataTable thead>tr>td div.dt-column-header span.dt-column-title:empty,
table.dataTable thead>tr>td div.dt-column-footer span.dt-column-title:empty,
table.dataTable tfoot>tr>th div.dt-column-header span.dt-column-title:empty,
table.dataTable tfoot>tr>th div.dt-column-footer span.dt-column-title:empty,
table.dataTable tfoot>tr>td div.dt-column-header span.dt-column-title:empty,
table.dataTable tfoot>tr>td div.dt-column-footer span.dt-column-title:empty {
    display: none
}

div.dt-scroll-body>table.dataTable>thead>tr>th,
div.dt-scroll-body>table.dataTable>thead>tr>td {
    overflow: hidden
}

:root.dark table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-desc:hover {
    outline: 2px solid rgba(255, 255, 255, 0.05)
}

div.dt-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -22px;
    text-align: center;
    padding: 2px;
    z-index: 10
}

div.dt-processing>div:last-child {
    position: relative;
    width: 80px;
    height: 15px;
    margin: 1em auto
}

div.dt-processing>div:last-child>div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(13, 110, 253);
    background: rgb(var(--dt-row-selected));
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

div.dt-processing>div:last-child>div:nth-child(1) {
    left: 8px;
    animation: datatables-loader-1 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(2) {
    left: 8px;
    animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(3) {
    left: 32px;
    animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(4) {
    left: 56px;
    animation: datatables-loader-3 .6s infinite
}

@keyframes datatables-loader-1 {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes datatables-loader-3 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes datatables-loader-2 {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(24px, 0)
    }
}

:root {
    --dt-row-hover-alpha: 0.035;
    --dt-row-stripe-alpha: 0.023;
    --dt-column-ordering-alpha: 0.019;
    --dt-row-selected-stripe-alpha: 0.923;
    --dt-row-selected-column-ordering-alpha: 0.919
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
    padding: 8px 10px
}

table.dataTable.row-border>tbody>tr>*,
table.dataTable.display>tbody>tr>* {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

/* Custom css for data table*/

.dt-length {
    padding: 10px 20px;
}

th {
    background-color: #d0d0d0;
    font-weight: 400;
}

tr {
    border-bottom: 1px solid gray;
}

th {
    font-weight: 600;
}

.rowHoverClass:hover {
    background-color: #e2e2e2;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first,
.last {
    display: none;
    border: none;
}

.active {
    color: blue;
    font-weight: 500;
}

.next,
.previous {
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: 500;
}

.disabled {
    color: gray;

}

.dt-search {
    width: 100%;
}

.dt-search input {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 12px 7px 31px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

div.dataTables_filter {
    display: none;
}
